@media screen and (max-width: 400px){
    header .container{
    display: flex;
    flex-direction: column;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
        height: 40px;
    }
    header nav{
        margin-right: 20px;
    }
    header .logo{
        margin-right: 25px;
    }

    .titulo{
        font-size: 50px;
    }
    .filme-principal .container{
        width: 80%;
    }

    .filme-principal{
        font-size: 16px;
        background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)100%), url('../img/2.gif');
        height: 400px;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}


